.header {
  border-bottom: 1px solid var(--line-color);
  // max-width: 479px;
  width: 100%;
  display: block;
  margin: 0 auto;
  background-color: white;

  @media screen and (min-width: 768px) {
    max-width: 768px;
  }

  @media screen and (min-width: 1200px) {
    max-width: 1200px;
    width: 100%;
  }
}

.header__container {
  display: flex;
  align-items: center;
  background-color: white;
  width: 100%;
}

.header__promo {
  display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    background-color: #14aaffed;
    color: #fff;
    text-decoration: underline;
    text-transform: uppercase;
    font-weight: 800;
}

.header__img-arow {
  height: 12px;
  width: 12px;
  // color: #fff;
  margin-left: 5px;
}