.section--background-color {
    background-color: #E9F2FF;
    
      // height: 400px;
      // margin: 0 auto;
      background-image: url(../images/catalog.png);
      background-repeat: no-repeat;
      background-size: cover;
      // padding: 118px 0;
    
      @media (min-resolution: 2dppx) {
        background-image: url(../images/catalog.png);
      }
    
      @media screen and (min-width: 768px) {
        width: 100%;
        // max-width: 768px;
        background-image: 
          url(../images/catalog.png);
      }
    
      @media screen and (min-width: 768px) and (min-resolution: 2dppx) {
        background-image:
          url(../images/catalog.png);
      }
    
      @media screen and (min-width: 1200px) {
        width: 100%;
        // max-width: 1600px;
        // min-height: 600px;
        background-image:
          url(../images/catalog.png);
        // padding-top: 200px;
        // padding-bottom: 280px;
      }
    
      @media screen and (min-width: 1200px) and (min-resolution: 2dppx) {
        background-image:
          url(../images/catalog.png);
      }
    
      background-position: center;
    }



  .team__list {
    list-style: none;
    
    @media screen and (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
      margin: -15px;
    }
    @media screen and (min-width: 1200px) {
      flex-wrap: nowrap;
      padding-top: 50px;
    }
  }